// bower:scss
@import "bower_components/skeleton-sass/skeleton.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Oswald:300);

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}


.hero-unit {
  margin: 50px auto 0 auto;
  // width: 300px;
  width: 80%;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit-not-transparent {
  @extend .hero-unit;
  background-color: rgb(204,204,204);
  height: 300px;
  border-radius: 25px;
}

h1 {
  font-size: 160px;
  line-height: 1;
  letter-spacing: -1px;
  font-family: 'Oswald', sans-serif;
  color: red;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  color: #5A4A42;
}

img.bg {
  /* Set rules to fill background */
  min-height: 10%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.center {
  text-align: center;
}
